<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="js/happy.js"></script>
<!--<script src="js/jquery-1.7.2.min.js"></script>-->
<script type="text/javascript" src="js/grapher.js"></script>
<script type="text/javascript" src="js/FileSaver.min.js"></script>
<script type="text/javascript">

/**
	Gets the x and y values of the cursor position
	@param {double} e The cursor position of the mouse
	@return {Point} The x,y tuple
**/
function getCursorPosition(e) { //this should be refactored to return a Point
   var x;
   var y;
   if (e.pageX != undefined && e.pageY != undefined) {
       x = e.pageX;
       y = e.pageY;
       //console.log("Option 1: "+x+","+y);
   } else {
       x = e.clientX + document.body.scrollLeft +
       document.documentElement.scrollLeft;
       y = e.clientY + document.body.scrollTop +
       document.documentElement.scrollTop;
       //console.log("Option 2: "+x+","+y);
   }
   return {"x":x,"y":y};
}

/**
	Finds the position of the object relative to the page
	@param {double} obj The DOM element
	@return {object} The left and top offsets
**/
function findPosition(obj)
{
	var curleft = 0;
	var curtop = 0;
	if(obj.offsetParent) {
		do {
			curleft += obj.offsetLeft;
			curtop += obj.offsetTop;
		} while (obj = obj.offsetParent);

	}
	return {"leftOffset":curleft,"topOffset":curtop};
}


var canvas;
var ourGraph;
var rdb;
var datasets = {}; 

/**
	Adds a point to the graph via the "Add point" button
**/
function buttonAddPoint() {

	var newpoint = prompt("Enter a new point. Ex. (1,2)","");
	var pointRe = /([-]*\d*(\.\d*)*),([-]*\d*(\.\d*)*)/;
	var pointValues = pointRe.exec(newpoint);
	var temp = new SM.Point(pointValues[1],pointValues[3]);
	ourGraph.addPoint(temp);
	$("#s_points").append('<option>'+temp+'</option>');
	if(ourGraph.immediate) {
		var newpoly = ourGraph.generateFunction();	
		if(newpoly) {
			$("#s_functionlist").append('<option>'+newpoly+'</option>');
			ourGraph.drawLatest();	
		}
	}
}

/**
	Adds a point to the graph via a mouse click on the canvas
**/
function clickAdd(mevent) {
   mevent.preventDefault();
   var res= getCursorPosition(mevent);
   var x = res.x;
   var y = res.y;
   var canvaslocation = findPosition(this);
   x -= canvaslocation.leftOffset;
   y -= canvaslocation.topOffset;
   //console.log("offsets: "+canvaslocation.leftOffset+","+canvaslocation.topOffset);
   
   var temp = ourGraph.pixelToPoint(new SM.Point(x,y));
   ourGraph.addPoint(temp);
   $("#s_points").append('<option>'+temp+'</option>');
   if(ourGraph.immediate) {
	var newpoly = ourGraph.generateFunction();	
	if(newpoly) {
		$("#s_functionlist").append('<option>'+newpoly+'</option>');
		ourGraph.drawLatest();	
	}
   }

}

$(document).ready(function() {
	canvas = document.getElementById('tehcanvas');
	canvas.addEventListener('click',clickAdd,false);
	var c= canvas.getContext('2d');
	c.fillStyle= "white";
	c.fillRect(0,0,canvas.width,canvas.height);

	ourGraph = new SM.Graph(canvas,-10,10,-10,10,0,[],[]);

	ourGraph.registerInterpolator(SM.Polynomial.prototype.LagrangeInterpolation);
	ourGraph.registerInterpolator(SM.PiecewiseFunction.createFirstDegSpline);
	ourGraph.registerInterpolator(SM.PiecewiseFunction.createSecondDegSpline);
	ourGraph.registerInterpolator(SM.PiecewiseFunction.createThirdDegSpline);
	ourGraph.registerInterpolator(function(points) {
		var linear = [new SM.Term(1,0,'x'),new SM.Term(1,1,'x')];
		return SM.Polynomial.prototype.leastSquare(points,linear);
	});
	ourGraph.registerInterpolator(function(points) {
		var quadratic =[new SM.Term(1,0,'x'),new SM.Term(1,1,'x'),new SM.Term(1,2,'x')];
		return SM.Polynomial.prototype.leastSquare(points,quadratic);
	});

	ourGraph.drawAxes();
		//rdb.get("PointSets",1,function(x) {ourGraph.points = x.points});
	//rdb.get("FunctionSets",7,function(x){x.funcs.forEach(function(y){PiecewiseFunction.fromWebWorker(y); y.color="Blue";ourGraph.functions.push(y);})});
		
	
});

</script>
<script type="text/Javascript" src="js/events.js"></script>

 <style type="text/css">
  h1 {
  	font-size: 20px;
  	font-style: bold; 
  }

  p {
  	font-style: bold;
  }
 </style>
</head>
<body bgcolor="#3f8295">
<div id="header">
<h1>{{ I18n "title"}} (A work in progress)</h1>
</div>
<div>
<form id="login" method="POST" action="/login">
<label for="uname">User Name:</label>
<input type="text" id="uname" name="uname" /> 
<label for="upass">Password:</label>
<input type="password" id="upass" name="upass" /> 
<input type="button" id="loginsubmit" value="Log In" /> 
</form>
<br>
<form id="register" method="POST" action="/users/">
<label for="nuname">Register User Name:</label>
<input type="text" id="nuname" name="nuname" /> 
 <label for="pass1">Password:</label><input type="password" id="pass1" name="pass1" /> 
 <label for="pass2">Repeat Password:</label><input type="password" id="pass2" name="pass2" /> 
 <label for="nuemail">Email</label><input type="text" id="nuemail" name="nuemail" />
<input type="button" value="Register" id="registersubmit" /> 
</form>
</div>
<div id="langbox" style="float:right;"><a href="/lang/en">{{ I18n "english" }}</a><a href="/lang/ja">{{ I18n "japanese"}}</a></div>
<a href="tests/test.html">{{I18n "tests"}}</a>
<a href="docs/">{{I18n "docs"}}</a>
<a href="https://github.com/hath995/grapher">{{I18n "github"}}</a>
<table>
<tr>
<td>
<canvas id="tehcanvas" height="600" width="800" style="border:2px black;">
</canvas>
</td>
<td>
<p><b>{{I18n "enterrange"}}</b><br>{{I18n "pointexp"}}</p>
<label for="x_range"><b>{{I18n "xrange" }} </b></label>
<input type="text" id="x_range" placeholder="[-10,10]">

<br>
<label for="y_range"><b>{{I18n "yrange"}} </b></label>
<input type="text" id="y_range" placeholder="[-10,10]">

<br>
<br>
<!--<label for="s_equation">Equation </label>
<input type="text" id="s_equation">-->
<input type="text" placeholder="graph.svg" id="t_savename"><button id="b_savesvg">{{I18n "savesvg"}}</button> 
<br>
<select size="10" style="width: 300px"id="s_points">
</select>
<br>
<button id="b_add" value="">{{I18n "addpoint"}}</button>
<button id="b_remove" value="">{{I18n "rempoint"}}</button>
<button id="b_removeall" value="">{{I18n "remallpoint"}}</button>
<button id="b_savepts" value="">{{I18n "savepoint"}}</button>
<br>

<select id="s_functionlist" size="10" style="width: 325px;">
</select>
<br>
<button id="b_savefunc">{{I18n "savefunct"}}</button>
<button id="b_removefunc" value="">{{I18n "remfunct"}}</button>
<button id="b_removeallfunc" value="">{{I18n "remallfunct"}}</button>
<br><br>
<button id="b_clear" value="">{{I18n "clearall"}}</button>

</td>
<td><fieldset id="f_type">
	<legend>{{I18n "functiontype"}}</legend>
	<input checked="true" type="radio" name="f_radio" id="poly" value="0"/><label for="poly">{{I18n "polyinterp"}}</label><br>
	<input type="radio" name="f_radio" id="spl1" value="1"/><label for="spl1">{{I18n "linearspl"}}</label><br>
	<input type="radio" name="f_radio" id="spl2" value="2"/><label for="spl2">{{I18n "quadspl"}}</label><br>
	<input type="radio" name="f_radio" id="spl3" value="3"/><label for="spl3">{{I18n "cubicspl"}}</label><br>
	<input type="radio" name="f_radio" id="ls1" value="4"/><label for="lslinear">{{I18n "linleastsq"}}</label><br>
	<input type="radio" name="f_radio" id="ls2" value="5"/><label for="lsquadratic">{{I18n "quadleastsq"}}</label>
</fieldset>
<input type="checkbox" name="f_imm" id="f_imm" checked="true"><label for="f_imm">{{I18n "immode"}}</label>
<button id="b_genfunc" value="" disabled="true">{{I18n "genfunct"}}</button> 
</td>
</tr>
</table>
<fieldset id="f_equation">
<legend>{{I18n "selectedfunct"}}</legend>
</fieldset>
<div id="savefuncs">
	<div id="data">
		<select id="s_datasets" style="width:300;"></select>
		<button id="b_loaddata">{{I18n "loaddata"}}</select>
	</div>
</div>
</div>
</body>
</html>
